div#section-3
  div.col-md-12.content-wrapper(style="margin-top:40px;")
    div(style="margin-bottom:30px;")
      img(src="images/3-openservice.png", alt="OpenService", style="width:30%")
    div.col-md-1.content-wrapper(style="margin-top:20px;")
    div.col-md-11.content-wrapper
      p.
        &nbsp;&nbsp;&nbsp;&nbsp; ODL Server IRD entry: <a>http://alto.yale.edu:8080/controller/nb/v2/alto/directory</a></p>
div.main.clearfix

