div#section-4
  div.col-md-12.content-wrapper(style="margin-top:40px;")
    div(style="margin-bottom:30px;")
      img(src="images/4-resources.png", alt="Resources", style="width:30%")
    div.col-md-1.content-wrapper(style="margin-top:20px;")
    div.col-md-11.content-wrapper
      p.
        &nbsp;&nbsp;&nbsp;&nbsp; Application-Layer Traffic Optimization (ALTO) Protocol: <a href="http://tools.ietf.org/html/rfc7285">RFC 7285</a>.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp; ALTO related RFCs:<a href="https://datatracker.ietf.org/doc/search/?name=alto&sort=&rfcs=on&activedrafts=on"> Click here!</a>
      p
      p
      p
      p
      p
      p

