div#section-4
  div.col-md-12.content-wrapper(style="margin-top:40px;")
    div(style="margin-bottom:30px;")
      img(src="images/4-resources.png", alt="Resources", style="width:30%")
    div.col-md-1.content-wrapper(style="margin-top:20px;")
    div.col-md-11.content-wrapper
      - var resource = JSON.parse(resourceStr)
      - each link, label in resource
        p.
          &nbsp;&nbsp;&nbsp;&nbsp; #{label}: #[a(href="#{link}") Click Here!]
div.main.clearfix
