div#section-2
    div.col-md-12.content-wrapper(style="margin-top:40px;")
      div(style="margin-bottom:30px;")
        img(src="images/2-software.png", alt="Software", style="width:30%")
      div.col-md-1.content-wrapper(style="margin-top:20px;")
      div.col-md-11.content-wrapper
        p.
          &nbsp;&nbsp;&nbsp;&nbsp; We have implemented the basic version of ALTO in <a href="http://www.opendaylight.org/project/technical-overview">OpenDaylight</a>. It already had these features:
        p.
          &nbsp;&nbsp;&nbsp;&nbsp; You could find ALTO Installation/User/Developer Guide from<a href="https://wiki.opendaylight.org/view/ALTO:Main"> OpenDaylight ALTO:Main</a>.
        p.
          &nbsp;&nbsp;&nbsp;&nbsp; You could download our source code from <a href="https://github.com/opendaylight/alto">Github:opendaylight/alto</a>.
div.main.clearfix
