link(rel="stylesheet", type="text/css", href="css/custom.css")
link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")

script(src="js/lib/jquery-2.1.4.min.js")
script(src="js/lib/bootstrap.min.js")
script(src="js/lib/animatescroll.min.js")
script(src="js/back_top.js")
