doctype html
html(lang="en", class="no-js")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title.
      Open ALTO
    meta(name="author", content="Xiao Lin, Haoran Wang, Shu Dong, Jensen")
    include assets
    block custom-assets

  body#toptop(style="width:100%")
    block top-navbar
    block header
    block content

  include footer
