.footer-image {
  background-image: url("/images/alto_team.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  text-align: center;
}

#team-text {
  display: inline-block;
  color: #fff;
  font-size: 3em;
  font-family: "Verdana";
  font-weight: 400;
  margin-top: 100px;
}

#contactor-text {
  color: #FFF;
  font-family: "Verdana";
  font-weight: 400;
}
