.nav-item a {
   width: 50%;
}

#hello {
  width: 100%;
}

#section-1 {
  margin-top: 80px;
  background-color: #EEE;
  overflow: auto
}

#section-1 .section-content {
  height: auto;
  margin-bottom: 50px;
}

#section-1 .server-name {
  color: rgb(0,162,154)
}

#section-1 .client-name {
  color: rgb(0,162,154)
}

#section-1 .name-owner {
  font-size:1.2em
}

#section-1 .contact {
  font-size:1.0em
}

#section-2 {
  background-color: #DDD;
  overflow: auto;
  height: auto;
}

.content-wrapper {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  height: auto;
}

#section-2 .steps {
  text-align: left;
  margin-bottom: 100px;
}

#section-2 .server-uri {
  margin-top: 100px;
  margin-bottom: 30px;
}

.content-wrapper h4 {
  font-family: "Verdana";
  font-size: 15px;
  margin-bottom: 0px;
  color: #000
}

#interop-form {
  display: inline-block;
  margin-top: 5px;
}

#url-area {
  margin-right: 10px;
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 10px;
  font-size: 1em;
  width: 350px;
}

#url-submit {
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
}

#ajax-waiter {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  display: none;
}

#log-text {
  width: 50%;
  max-height: 400px;
  background-color: #EEE;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 8px;
  padding: 10px;
  color: #000;
  display: none;
}

#section-1 .server-company-name-padding {
  padding-left:30px;
}

#section-1 .client-company-name-padding {
  padding-left:20px;
}

.test-btn {
  width:80px;
}
