#section-1 {
  background-image: url("/images/intro_background.jpg");
  background-size: contain;
  overflow: auto;
}

#intro {
  margin-top: 80px;
  overflow: auto;
}

#intro-image {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#intro-text {
  margin-top: 50px;
  padding: 0 5%;
}

#rfc-link {
  text-decoration: none;
}

.alto-intro {
  text-align: left;
  color: #000;
}

.alto-intro-text {
  text-align: left;
  font-family: "Verdana";
}

.alto-intro h3 {
  font-family: "Verdana";
  font-weight: 600;
}

@media all and (max-width: 2000px) {
  .alto-intro h3 {font-size: 2em}
  .alto-intro-text span {font-size: 1.2em;}
}

@media all and (max-width: 1500px) {
  .alto-intro h3 {font-size: 1.5em}
  .alto-intro-text span {font-size: 1em;}
}

@media all and (max-width: 768px) {
  .alto-intro h3 {font-size: 1.5em}
  .alto-intro-text span {font-size: 1em;}
}
