#section-3 {
  background-color: #EEE;
}

#blog-container {
  margin-top: 50px;
  overflow: auto;
}

#news-image {
  display: block;
  margin-left: 35%;
  width: 35%;
}

#blog-1 {
  display: inline-block;
  text-align: right;
  width: 36%;
}

#blog-2 {
  display: inline-block;
  margin: 0 auto;
  width: 40%;
  margin-left: 20%;
}

#blog-3 {
  display: inline-block;
  text-align: right;
  margin-left: 5%;
  width: 38%;
}

#blog-4 {
  display: inline-block;
  margin-left: 16%;
  width: 30%;
  vertical-align: top;
}

a.blog-title {
  font-size: 1.3em;
  font-family: "Verdana";
  font-weight: 600;
  text-decoration: none;
  color: #26170f;
}

.blog-text {
  margin: 0px;
  display: block;
  color: #000;
  font-size: 1em;
  font-family: "Verdana";
}

@media all and (max-width: 2000px) {
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 1000px) {
}

@media all and (max-width: 768px) {
  a.blog-title {font-size: 1em;}
  .blog-text {font-size: 0.8em;}
}
