#section-4 {
  background-color: #DDD;
}

#resource-content {
  padding: 0px;
  overflow: auto;
}

.resource-item {
  text-align: center;
  margin-top: 50px;
}

.resource-icon {
  width: auto;
  height: 60px;
  margin-bottom: 15px;
}

.resource-header {
  font-size: 1.2em;
  margin-top: 25px;
  height: 30px;
}

.resource-links {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  .resource-header {font-size: 1.2em}
  .resource-links {font-size: 1em}
}
