.section {
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  overflow: auto;
}

.section-title-wrap {
  padding-top: 50px;
  text-align:center;
}

.section-title {
  font-family: "Verdana";
  padding-bottom: 2px;
  font-weight: 300;
  color:#333333;
}

.bottom{
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #444444;
  color:#DDDDDD;
  text-align:center;
  font-family: "Verdana";
  font-weight: 400;
  margin-bottom: 0px;
}

@media all and (max-width: 2000px) {
  .section-title {font-size: 2em;}
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 768px) {
}
