.section {
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  overflow: auto;
}

.section-title-wrap {
  padding-top: 50px;
  text-align:center;
}

.section-title {
  display:inline-block;
}

.section-title {
  color:#333333;
}

.section-subtitle {
  color:#000;
  padding-bottom: 2px;
  font-weight: 300;
}

.bottom{
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #444444;
  color:#DDDDDD;
  text-align:center;
  margin-bottom: 0px;
}

@media all and (max-width: 2000px) {
  .section-title {font-size: 3.5em;}
  .section-subtitle {font-size: 1em;}
}

@media all and (max-width: 1000px) {
  .section-title {font-size: 2.5em;}
}

@media all and (max-width: 600px) {
  .section-title {font-size: 2em;}
}

@media all and (max-width: 500px) {
  .section-title {font-size: 2em;}
}
