.footer-image {
  background-image: url("/images/alto_team.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
}

#team-text {
  display: inline-block;
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  margin-top: 80px;
}

#contactor-text {
  color: #FFF;
  font-weight: 200;
}
