#section-3 {
  background-color: #EEE;
}

#blog-container {
  position: relative;
  margin-top: 50px;
  background-image: url("/images/blog_container.png");
  background-size: 100% 100%;
  height: 400px;
}

.blog-text {
  font-weight: bold;
  font-family: "Impact";
}

#blog-1 {
  position: absolute;
  top: 12%;
  left: 1.5%;
}

#blog-2 {
  position: absolute;
  top: 3%;
  left: 51%;
}

#blog-3 {
  position: absolute;
  top: 53%;
  left: 13%;
}

#blog-4 {
  position: absolute;
  top: 62%;
  left: 49%;
  font-family: "Impact";
  font-weight: bold;
  color: #26170f;
}
