#top-nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.nav-item {
  position: relative;
}

.nav-item a {
  text-align: center;
  display: inline-block;
  color: #FFF;
  font-size: 22px;
  padding: 0px;
  margin: 28px 50px 28px 50px;
}

.nav-item:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.nav-logo {
  text-align: right;
}

#logo-image {
  margin-top: 8px;
  width: auto;
  height: 70px;
}

#image-header {
  position: relative;
  display: inline-block;
  background-image: url("/images/header.png");
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
}

#title {
  font-family: "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin-top: 180px;
  margin-bottom: 0px;
  font-size: 4.5em;
  color: #FFF;
}

.subtitle-wrap {
  height: 30px;
  line-height: 30px;
}

.subtitle-wrap span {
  display: inline-block;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 2em;
}

#subnote {
  background-color: #bf131d;
  font-size: 18px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFF;
}

div.col-xs-3 {
  text-align: center;
  padding-top: 10px;
}
