#section-3 {
  background-color: #EEE;
}

#resource-content {
  margin-top: 80px;
  padding: 0px;
  overflow: auto;
}

.resource-item {
  text-align: center;
}

.resource-icon {
  width: auto;
  height: 60px;
  margin-bottom: 15px;
}

.resource-links {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

.resource-header {
  font-size: 1.2em;
  margin-top: 25px;
}
