.section {
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  overflow: auto;
}

.section-title-wrap {
  padding-top: 50px;
  text-align:center;
}

.section-title {
  display:inline-block;
}

h2.section-title {
  color:#333333;
  padding-bottom: 2px;
}

.footer-image {
  background-image: url("/images/alto_team.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
}

#team-text {
  display: inline-block;
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  margin-top: 100px;
}

.bottom{
  width:100%;
  height:50px;
  background-color: #444444;
  color:#DDDDDD;
  text-align:center;
  line-height: 50px;
}
