#section-1 {
  background-image: url("/images/intro_background.jpg");
  background-size: contain;
}

#section-3 {
  background-color: #EEE;
}

#section-2 {
  background-color: #DDD;
}

#section-4 {
  background-color: #DDD;
}

.section {
  position: relative;
  width: 100%;
  height: 600px;
  padding-top: 0px;
}

.section-title-wrap {
  padding-top: 50px;
  text-align:center;
}

.section-title {
  display:inline-block;
}

h2.section-title {
  font-size: 3.0em;
  color:#000;
  padding-bottom: 2px;
}

.alto-service {
  background-image: url("/images/odl_logo.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.interop-service {
  background-image: url("/images/interop_logo.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.other-service {
  background-image: url("/images/onos_logo.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.service-block {
  display: inline-block;
  margin-top: 80px;
  padding: 10px;
  height: 300px;
}

.service-cover {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

.service-title {
  margin-top: 120px;
  font-family: "Verdana";
  font-size: 32px;
  font-weight: 600;
  color: #FFF;
}

#resource-content {
  margin-top: 50px;
  text-align:center;
}

p.resource {
  font-size: 1.2em;
}

.footer-image {
  background-image: url("/images/alto_team.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
}

#team-text {
  display: inline-block;
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  margin-top: 100px;
}

.bottom{
  width:100%;
  height:50px;
  background-color: #444444;
  color:#DDDDDD;
  text-align:center;
  line-height: 50px;
}
