#section-2 {
  background-color: #DDD;
}

.alto-service {
  background-image: url("/images/odl_logo_full.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.interop-service {
  background-image: url("/images/interop_logo.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.other-service {
  background-image: url("/images/onos_logo.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.service-blocks {
  width: 100%;
  overflow: auto;
}

.service-block {
  display: inline-block;
  margin-top: 80px;
  padding: 10px;
  height: 300px;
}

.service-cover {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

.service-title {
  margin-top: 120px;
  font-family: "Verdana";
  font-weight: 600;
  color: #FFF;
}

