div#section-5.footer-image
  h2#team-text ALTO Team
  div.container
    div.row
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-2.col-md-offset-2.col-xs-offset-2
        img(src="/images/yale-logo.png")
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/tongji-logo.png")
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/tsinghua-logo.png")
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/njupt-logo.png")
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/bupt-logo.png")
      div.logo-huawei-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/nwu-logo.png")
      div.logo-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/alcatel-logo.png")
      div.logo-huawei-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
        img(src="/images/huawei-logo.png")
  h4#contactor-text Contactor: Richard Yang Y.
  h4#contactor-text Email: yry@cs.yale.edu
