div#section-3.section
  div.section-title-wrap
    h2.section-title BLOG
    h2.section-subtitle Track our latest news and progress
  div
    div.col-md-2.col-sm-1.col-xs-0
    div.col-md-8.col-sm-10.col-xs-12
      div#blog-container
        div#blog-1
          a(href="#").blog-title New Endpoint Cost Service <br/> Almost Avalible!
          p.blog-text We are going to release our new endpoint cost service. Click to get more details.
        div#blog-2
          a(href="#").blog-title ODL ALTO Guide <br/> Is Published!
          p.blog-text We just publised a guide to introduce you how to set up and use ODL ALTO server.
        div#blog-3
          a(href="#").blog-title ALTO Interop Hold <br/> Successfully!
          p.blog-text Congrats that the ALTO Interop hold successfully in IETF 93!
        div#blog-4
          a(href="#") Read More In <br/> OpenALTO Blog
    div.col-xs-2.col-sm-1.col-xs-0
