div#section-3.section
  div.section-title-wrap
    h2.section-title BLOG
  div
    div.col-md-2.col-sm-1.col-xs-0
    div.col-md-8.col-sm-10.col-xs-12
      div#blog-container
        p#blog-1.blog-text New Endpoint Cost Service <br/> Avalible Now!
        p#blog-2.blog-text ODL ALTO Guide <br/> Published!
        p#blog-3.blog-text ALTO Interop Hold <br/> Successfully!
        p#blog-4 More In Our Blog
    div.col-xs-2.col-sm-1.col-xs-0
