div#section-6.section
  div.section-title-wrap
    h4.section-logo-title Our friends
  div.section-content.container
    div.row
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
        img(src="/images/yale-logo.png")
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src="/images/tsinghua-logo.png")
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src="/images/tongji-logo.png")
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src="/images/njupt-logo.png")
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src="/images/bupt-logo.png")
    div.row
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2.col-lg-offset-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-4
        img(src="/images/alcatel-logo.png")
      div.logo-block.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src="/images/huawei-logo.png")
