div#section-1.section.section-odd
  div.section-title-wrap
    h2.section-title Interop
  div#button-left.interop-button
    a.section-button History
  div#button-right.interop-button
    a.section-button Coming Soon
