div#section-1.section
  div#intro
    div.col-md-2.col-sm-1
    div.col-md-8.col-sm-10
      img#intro-image(src="/images/alto_timeline.png")
      span#intro-text.
        ALTO is askjdaflj asdhajd ajdakdva dacksjdajad asd kajsdlja dakaljdaldja a caljkdaldkjadal aldkjaljdalkj. ALTO jadfa aljdfav asdjhf hskadjfa akjdhfakjhv.
    div.col-xs-2.col-sm-1
