div#section-3.section
  div#intro
    div.col-lg-2.col-md-1.col-sm-1.col-xs-0
    div.col-lg-8.col-md-10.col-sm-10.col-xs-12
      img#intro-image(src="/images/alto_timeline.png")
      div.col-md-12.col-sm-12.col-xs-12#intro-text
        div.col-md-6.col-sm-6.col-xs-12.alto-intro
          h3 What is ALTO?
          div.alto-intro-text
            span Application-Layer Traffic Optimization (ALTO) Protocol is an IETF protocol to provide network information to applications. <br/>#[a#rfc-link(href="https://tools.ietf.org/html/rfc7285") Read more in RFC 7285.]
        div.col-md-6.col-sm-6.col-xs-12.alto-intro
          h3 What is OpenALTO?
          div.alto-intro-text
            span OpenALTO is an organization focusing on developing open source libraries for implementing ALTO protocol in different network platforms.
    div.col-lg-2.col-md-1.col-sm-1.col-xs-0
