div#section-1.section
  div#intro
    div.col-xs-2
    div.col-xs-8
      img#intro-image(src="/images/alto_timeline.png")
      span#intro-text.
        ALTO is askjdaflj asdhajd ajdakdva dacksjdajad asd kajsdlja dakaljdaldja a caljkdaldkjadal aldkjaljdalkj. ALTO jadfa aljdfav asdjhf hskadjfa akjdhfakjhv.
    div.col-xs-2
