div#section-1.section
  div.section-title-wrap
    h2.section-title Track our latest progress
  div.section-content
    div.col-lg-2.col-md-1.col-sm-0.col-xs-0
    div.col-lg-8.col-md-10.col-sm-12.col-xs-12#news-container
      div#blog-1
        a(href="#").blog-title New Endpoint Cost Service Almost Avalible!
        span.blog-text We are going to release our new endpoint cost service. Click to get more details.
      div#blog-2
        a(href="#").blog-title ODL ALTO Guide Is Published!
        span.blog-text We just publised a guide to introduce you how to set up and use ODL ALTO server.
      img#news-image(src="/images/news.png")
      div#blog-3
        a(href="#").blog-title ALTO Interop Hold Successfully!
        span.blog-text Congrats that the ALTO Interop hold successfully in IETF 93!
      div#blog-4
        a(href="#").blog-title Read More In Our Blog
    div.col-lg-2.col-md-1.col-sm-0.col-xs-0
