div#section-1.section.section-odd
  div.section-title-wrap
    h2.section-title OPEN SERVICES
  div.service-blocks
    div.col-xs-2
    div.col-xs-8
      div.service-block.col-md-4
        div.alto-service
          div.service-cover
            h3.service-title ALTO<br/>SERVICE
      div.service-block.col-md-4
        div.interop-service
          div.service-cover
            h3.service-title INTEROP<br/>SERVICE
      div.service-block.col-md-4
        div.other-service
          div.service-cover
            h3.service-title OTHER<br/>SERVICE
    div.col-xs-2
