div#section-3.section
  div.section-title-wrap
    h2.section-title RESOURCES
  div
    div.col-xs-2
    div#resource-content.col-xs-8
      div.resource-item.col-xs-4
        img.resource-icon(src="/images/document.png")
        p.resource-links
          a(href="http://tools.ietf.org/html/rfc7285") ALTO Protocol RFC
          <br/>
          a(href="https://datatracker.ietf.org/doc/search/?name=alto&sort=&rfcs=on&activedrafts=on") ALTO Related Drafts
      div.resource-item.col-xs-4
        img.resource-icon(src="/images/tutorial.png")
        p.resource-links
          a(href="http://tools.ietf.org/html/rfc7285") ALTO Protocol RFC
          <br/>
          a(href="https://datatracker.ietf.org/doc/search/?name=alto&sort=&rfcs=on&activedrafts=on") ALTO Related Drafts
      div.resource-item.col-xs-4
        img.resource-icon(src="/images/settings.png")
        p.resource-links
          a(href="http://tools.ietf.org/html/rfc7285") ALTO Protocol RFC
          <br/>
          a(href="https://datatracker.ietf.org/doc/search/?name=alto&sort=&rfcs=on&activedrafts=on") ALTO Related Drafts
    div.col-xs-2
