div#section-3.section.section-odd
  div.section-title-wrap
    h2.section-title Resources
  div#resource-content
    - var resource = JSON.parse(resourceStr)
    - each link, label in resource
      p.resource.
        #{label}: #[a(href="#{link}") Click Here!]
