div#section-4.section
  div.section-title-wrap
    h2.section-title Useful links and docs
  div
    div.col-md-2.col-xs-0
    div#resource-content.col-md-8.col-xs-12
      div.resource-item.col-md-4.col-xs-12.col-sm-4
        img.resource-icon(src="/images/document.png")
        h5.resource-header ALTO Protocol
        p.resource-links
          a(href="http://tools.ietf.org/html/rfc7285") ALTO Protocol RFC
          <br/>
          a(href="https://datatracker.ietf.org/doc/search/?name=alto&sort=&rfcs=on&activedrafts=on") ALTO Related Drafts
      div.resource-item.col-md-4.col-xs-12.col-sm-4
        img.resource-icon(src="/images/tutorial.png")
        h5.resource-header ODL ALTO Tutorial
        p.resource-links
          a(href="https://docs.google.com/presentation/d/1gsShHkvKO-5f8FsEKg9fgIND00R585B5iF2XEBq-Tv8/edit?pli=1#slide=id.p") Design Overview
          <br/>
          a(href="https://wiki.opendaylight.org/view/ALTO:Main") ODL ALTO Wiki
          <br/>
          a(href="https://github.com/opendaylight/alto") Github Repo
      div.resource-item.col-md-4.col-xs-12.col-sm-4
        img.resource-icon(src="/images/settings.png")
        h5.resource-header ONOS ALTO Tutorial
        h5.resource-links Coming Soon ...
    div.col-md-2.col-xs-0
