div#section-3.section
  div.section-title-wrap
    h2.section-title RESOURCES
  div#resource-content
    div.col-xs-2
    img#resource-image(src="/images/alto_timeline.png").col-xs-5
    div#resource-links.col-xs-3
      - var resource = JSON.parse(resourceStr)
      - each link, label in resource
        p.resource.
          #{label}: #[a(href="#{link}") Click Here!]
    div.col-xs-2
