div#section-2.section.section-even
  div.section-title-wrap
    h2.section-title RESOURCES
  div#resource-content
    - var resource = JSON.parse(resourceStr)
    - each link, label in resource
      p.resource.
        #{label}: #[a(href="#{link}") Click Here!]
