div#section-2.section
  div.section-title-wrap
    h2.section-title SERVICES
  div.service-blocks
    div.col-xs-2
    div.col-xs-8
      div.service-block.col-md-4
        div.alto-service
          div.service-cover
            h3.service-title ODL ALTO
      div.service-block.col-md-4
        div.interop-service
          div.service-cover
            h3.service-title INTEROP
      div.service-block.col-md-4
        div.other-service
          div.service-cover
            h3.service-title ONOS ALTO
    div.col-xs-2
