div#section-2.section
  div.section-title-wrap
    h2.section-title SERVICES
  div.service-blocks
    div.col-md-2.col-sm-0.col-xs-0
    div.col-md-8.col-sm-12.col-xs-12
      div.service-block.col-md-4.col-sm-4.col-xs-4
        div.alto-service
          div.service-cover
            h3.service-title ODL ALTO
      div.service-block.col-md-4.col-sm-4.col-xs-4
        div.interop-service
          div.service-cover
            h3.service-title INTEROP
      div.service-block.col-md-4.col-sm-4.col-xs-4
        div.other-service
          div.service-cover
            h3.service-title ONOS ALTO
    div.col-md-2.col-sm-0.col-xs-0
