/* 
    Document   : style
    Created on : 20 Jul, 2013, 3:58:03 PM
    Author     : RAM
*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #666666;
	background: #f9f9f9;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #fff;
}
.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}
.main {
	max-width: 82.667em;
	min-height: 40em;
}
.container > header {
	text-align: center;
	font-size: 16px;
	padding: 4em 2em 3em;
	background: rgba(0,0,0,0.01);
}
.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
}
.container > header span {
	display: block;
	font-size: 60%;
	color: #666666;
	padding: 0 0 0.6em 0.1em;
        font-weight:300;
}
@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
	.container > header {
		font-size: 75%;
	}
}
[id^="section-"]{margin-top:-20px;padding:25px;padding-top:5px}
[id^="section-"] h1,[id^="section-"] h3{font-family: 'Lato', Calibri, Arial, sans-serif;font-weight:300;color:#666666}
[id^="section-"] .content-wrapper{color:#666666;font-size:20px;font-weight:100;}
[id^="section-"] .content-wrapper>pre{font-size:14px;display:inline-block}
[id^="section-"] .content-wrapper a{color:#666666;border-bottom: 1px dotted white;font-weight:100;}
[id^="section-"] .content-wrapper li{list-style:square;font-weight: 100;}
#section-1{padding-top: 53px;}
#section-2{}
#section-3{background-color: #f5f5f5;}
#section-4{}
#section-5{background-color: #f5f5f5;}
#section-6{}
.btn{padding:10px;border:3px solid #fff;background-color:transparent;color:#fff;font-weight:700;text-transform:uppercase;display:inline-block}
.btn:hover{border-style:dashed;cursor:pointer}
.btn:active,.demo-btn:active{border-style:dotted}
.demo-btn{position:absolute;margin-top:12px;margin-left:40px}
.element-demo{height:150px;margin:0.5em 0;padding:1em;font-family:Consolas,Monaco,'Andale Mono',monospace;text-shadow:0 -0.1em 0.2em black;border:0.3em solid #545454;border-radius:0.5em;background:none repeat scroll 0 0 #141414;box-shadow:1px 1px 0.5em black inset;overflow:auto}
.easing-buttons{margin-top:80px}
.download-buttons{margin-top:350px}
.fl{float:left}
.fr{float:right}
.disp-inl{display:inline}
.disp_inl_blk{display:inline-block}
.w30{width:30%}
.w50{width:50%}
.w60{width:60%}
.w70{width:70%}
.ptr{cursor:pointer}

.nav-header {
	font-size: 1.5em;
	color: #666666;
	height: 100px;
}
.nav-header-icon {
	height:100px;
	margin-top:-40px;
}
.topping {
	height: 120px;
	padding-top: 50px;
}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	right: 100px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #8B8970;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #8B8970 url(up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #8B8970;
}

/* For Responsiveness */
@media (min-width:32.5em) and (max-width: 61.250em) {
    [id^="section-"] .content-wrapper{font-size:1.2em}
    [id^="section-"] .content-wrapper>pre{display:block}
    .demo-btn{position:relative}
    .easing-buttons,.download-buttons{margin-top:0}
    .fr{float:none}
    .w30,.w60,.w70{width:100%}
}
@media (min-width: 32.5em) and (max-width: 38.688em) {
    [id^="section-"] .content-wrapper{font-size:1.1em}
    [id^="section-"] .content-wrapper>pre{display:block}
    .demo-btn{position:relative}
    .easing-buttons,.download-buttons{margin-top:0}
    .fr{float:none}
    .w30,.w60,.w70{width:100%}
}
@media (max-width: 32.438em) {
    [id^="section-"] .content-wrapper{font-size:1em}
    [id^="section-"] .content-wrapper>pre{display:block}
    .demo-btn{position:relative}
    .easing-buttons,.download-buttons{margin-top:0}
    .fr{float:none}
    .w30,.w60,.w70{width:100%}
}

