extend ../layout

block custom-assets
  link(rel="stylesheet", type="text/css", href="css/header.css")
  link(rel="stylesheet", type="text/css", href="css/section.css")

block top-navbar
  div#image-div
    img#logo-image(src="/images/logo.png")
    h2#title IETF
    div.subtitle-wrap
      span November 1 - 6 <br/> Yokohama
    div.subtitle-wrap
      h3#subnote Join ALTO Team Now

block content
  div
    include sections/openservices
    include sections/resources
    include sections/blog
    include sections/about
  p#back-top
    span
      a(href="#top", onclick="$('body').animatescroll()")
