extend ../layout

block custom-assets
  include assets.jade

block top-navbar
  div#top-nav-bar
    div.nav-logo.col-md-2.col-sm-2.col-xs-3
      img#logo-image(src="/images/alto_logo.png")
    div.nav-item.col-xs-2
      a(href="/") Main
    div.nav-item.col-xs-4
      a(href="#", onclick="$('#section-1').animatescroll({padding:80});") Steps
      a(href="#", onclick="$('#section-2').animatescroll({padding:80});") Online Test
    div.nav-logo.col-xs-4

block header

block content
  div#hello
    include sections/server-client
    include sections/online-test
  p#back-top
    span
      a(href="#top", onclick="$('body').animatescroll()")
