extend ../layout

block top-navbar
    div#top-navbar.topping
      div.col-md-1
      div.col-md-1.nav-header-icon
        img(src="images/ALTOlogo.1.png", alt="ALTOlogo", width="200", height="100")
      div.col-md-1
      div.col-md-2(style="text-align:center;")
        a.nav-header(href="#" onclick="$('#section-1').animatescroll();").
          Steps
      div.col-md-2(style="text-align:center;")
        a.nav-header(href="#" onclick="$('#section-2').animatescroll();").
          Online Test

block content
  div#hello(style="width:100%;")
      div
        div.main.clearfix
          include sections/steps
          include sections/online-test
      p#back-top
        span
          a(href="#top", onclick="$('body').animatescroll()")
