div#section-2
  div.section-title-wrap
    h2.section-title ONLINE TEST
    h2.section-subtitle Test your ALTO sever automatically
  div.col-md-11.content-wrapper
    h4 Paste the IRD url of your ALTO server here:
    form#interop-form(action='/test', method='post')
      input#url-area(type="text", name="ird-url")
      input#url-submit(type="submit", value="Test")
