div#section-2
  div.section-title-wrap
    h2.section-title Test your ALTO sever automatically
  div.content-wrapper
    div#interop-form
      input#url-area(type="text", name="ird-url", placeHolder="Paste IRD url of your ALTO server here")
      input#url-submit(type="submit", value="Test")
      div#ajax-waiter
        img(src="/images/ajax_loader.gif")
  pre#log-text
