div#section-1
  div.col-md-12.content-wrapper(style="margin-top:20px;")
    div(style="margin-bottom:30px;")
      h2.pheader.
        Steps
    div.col-md-1.content-wrapper(style="margin-top:20px;")
    div.col-md-11.content-wrapper
      h2.
        Outline
      p
      p
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Below is a brief guide of ALTO test process. You will find following information in the guide:
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.How to login to the start platform and what should be prepared by local and remote participants before the Interop day?
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.The details of the test on interop-day.
      h3.
        &nbsp;&nbsp;&nbsp;&nbsp;Preparation: Before Interop-day
      p
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.The interop volunteers have registered a IRC channel (#alto-interop@freenode). Please make sure you have an IRC client
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and be able to connect to the IRC channel before the interop-day.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.Each server participant should deploy its ALTO server with a public IP.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.Please download the test template from <a href="https://docs.google.com/document/d/1irUuS40aydX5hxQIexz1PTIcnYOJRBj_OYB2lXa3vd8/edit?usp=sharing.">here</a>
      h3.
        &nbsp;&nbsp;&nbsp;&nbsp;Steps: On Interop-day
      p
      h4.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step 1. Start
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.Please login to the IRC channel (#alto-interop@freenode), and each participant please announce yourself.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.Hearing all announcements, test chair will allocate a test ID (server A, .. client B) for every participant.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.Each server participant posts to the IRC its entry IRD.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.The test chair will continue to announce the matching of clients and servers.
      h4.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step 2. Test
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.Upon the announcement of a client-server matching, a google doc for the matching is created and announced on the IRC.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.The corresponding client participant will start to run its client to test the corresponding server.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.Test results will be recorded in the google doc. For a template of the good doc, please click <a href="https://docs.google.com/document/d/1irUuS40aydX5hxQIexz1PTIcnYOJRBj_OYB2lXa3vd8/edit?usp=sharing.">here</a>.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.After finishing testing, please post to the IRC to let the test chair know.
      h4.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step 3. Summary of Results
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.After all the tests finished, client participants should send test reports to the volunteers. Volunteers will summarize the results.
      p.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.The WG chair may report the summary results in the WG meeting next day.
div.main.clearfix
